* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: grey;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.box {
  padding: 1vh 1vw;
  height: 30vh;
  min-height: fit-content;
  background: #111845ee;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid #2a3cad;
  color: white;
  padding: 20px;
}

.titulo{
  position: relative;
  top: -45px;
  background: #111845;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid #2a3cad;
  border-radius: 15px;
}

.divPontos{
  display: flex;
  position: relative;
  top: -30px;
}

.divPontos h3{
  margin-right: 5px;
}

.inputChute {
  text-align: center;
  border-radius: 15px;
  padding:10px 20px ;
  border: none;
}

.botao {
  border-radius: 15px;
  padding: 3px;
  padding:10px 20px ;
  border: none;
}

.listaUl {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.listaUl li {
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  width: 30px;
  height: 40px;
  background: #111845ee;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid #2a3cad;
  margin: 3px 2.5px;
  color: rgb(255, 255, 255);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: transform 1s ease-in-out;
}

.reset {
  font-weight: bold;
  background-color: rgb(102, 0, 0);
  border: none;
  padding: 2vh 2vw;
  position: absolute;
  right: 1px;
  bottom: 1px;
}


@media only screen and (max-width: 847px) {

  .botao {
    display: none;
  }

}
